@use "./variables" as *;
@use "./fonts" as *;
@use "./mixins" as *;

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Avenir Regular";
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.8rem;
  color: $black;

  @include tablet {
    font-size: 1.4rem;
    line-height: 2.2rem;
  }
}

h1,
h2 {
  font-family: "Avenir Demi";
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 3.2rem;
}

h1 {
  @include tablet {
    font-size: 6rem;
    line-height: 6.8rem;
  }
}

h2 {
  @include tablet {
    font-size: 3.6rem;
    line-height: 4.4rem;
  }
}

h3 {
  font-family: "Avenir Demi";
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 2.2rem;

  @include tablet {
    font-size: 2.4rem;
    line-height: 3.2rem;
  }
}

button {
  font-family: "Avenir Demi";
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 2rem;
  background-color: $black;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 1rem 0 0.8rem;
  width: 16rem;
}

a {
  text-decoration: none;
  color: $mercury;
}

header {
  background-color: $black;
  padding-top: 1.6rem;
}

footer {
  @include tablet {
    line-height: 2rem;
  }
}

// -----------------------------------------
// -----------------------------------------
// -----------------------------------------
// NAVBAR

.nav {
  color: $silver;
  @include flex($direction: column);

  @include tablet {
    padding: 1% 5% 0;
    margin: 0;
    @include flex($justify: flex-start);
  }

  @include desktop {
    padding-left: 0;
    width: 98.6rem;
    margin: 0 auto;
  }

  &__header {
    padding: 0.8rem 0;
    @include tablet {
      padding: 0 5.6rem 1.6rem 0;
    }
  }

  &__links {
    @include flex($justify: space-around);
  }

  &__anchor {
    padding: 0;
    &--bio {
      border-right: 0.4em solid $black;
    }

    &--shows {
      border-left: 0.4em solid $black;
    }
  }

  &__link {
    list-style-type: none;
    padding-bottom: 0.8em;
    width: 50vw;
    text-align: center;
    border-bottom: 0.4rem solid transparent;

    &--bio {
      margin-right: -0.4em;
    }

    &--shows {
      margin-left: -0.4em;
    }

    &--active {
      color: white;
      font-weight: 700;
      border-bottom-color: white;
    }

    &:hover {
      color: white;
      border-bottom-color: white;
    }

    @include tablet {
      padding: 0 0 1.6rem;
      margin-top: 0.4rem;
      margin-right: 4.8rem;
      width: auto;
    }
  }

  &__logo {
    height: 2rem;
    box-sizing: content-box;
  }
}

// -----------------------------------------
// -----------------------------------------
// -----------------------------------------
// HERO

.hero {
  min-height: 30rem;
  max-height: 40rem;
  background-image: url(../../assets/images/hero-bio.jpg);
  background-size: cover;
  background-position: center;
  z-index: -1;
  color: $alabaster;

  @include tablet {
    min-height: 50rem;
    max-height: 60rem;
  }

  @include desktop {
    min-height: 60rem;
    max-height: 80rem;
  }

  &__overlay {
    padding: 0;
    margin: 0;
    background-color: rgba(32, 32, 32, 0.5);
    z-index: 2;
    min-height: 30rem;
    max-height: 40rem;

    @include tablet {
      min-height: 50rem;
      max-height: 60rem;
    }

    @include desktop {
      min-height: 60rem;
      max-height: 80rem;
    }
  }

  &__header {
    padding: 12rem 2rem;
    font-weight: 400;

    @include tablet {
      padding: 20rem 4rem;
    }

    @include desktop {
      width: 98.6rem;
      margin: 0 auto;
      padding: 30rem 0;
    }
  }

  &__artist {
    font-family: "Avenir Regular";
    font-weight: 400;
    margin-top: 2rem;

    @include tablet {
      font-size: 3.2rem;
    }
  }

  &__song {
    color: white;
    font-size: 3rem;
    line-height: 3.2rem;

    @include tablet {
      font-size: 6rem;
      line-height: 6.4rem;
    }

    @include desktop {
      padding-right: 3rem;
    }
  }

  &__iframe {
    padding: 0 2rem;
    width: 100%;
    height: 12rem;

    @include tablet {
      padding: 0;
      height: 16rem;
    }

    @include desktop {
      width: 80%;
      height: 8rem;
    }
  }

  &__music-player {
    padding-bottom: 2rem;
    @include tablet {
      padding: 0 4rem;
      margin-right: 18rem;
    }

    @include desktop {
      width: 98.6rem;
      margin: 0 auto;
      padding: 0;
    }
  }

  &__text-box {
    padding: 2rem;

    @include tablet {
      padding: 4rem;
    }

    @include desktop {
      width: 98.6rem;
      margin: 0 auto;
      padding: 4rem 0;
    }
  }
}

// -----------------------------------------
// -----------------------------------------
// -----------------------------------------
// FOOTER

.footer {
  background-color: $black;
  color: $mercury;
  padding: 5%;

  @include tablet {
    margin: 0;
    padding: 0;
    padding: 2% 5% 5%;
  }

  @include desktop {
    margin: 0;
    padding: 4rem 0 2rem;
  }

  &__header {
    padding-top: 1.6rem;

    @include tablet {
      padding-right: 4.8rem;
    }

    @include desktop {
      padding: 0 9rem 0 0rem;
    }
  }

  &__header,
  &__name {
    color: white;
  }

  &__header,
  &__logo,
  &__contact,
  &__column,
  &__name,
  &__location {
    padding-bottom: 1.6rem;
  }

  &__socials {
    padding-bottom: 2rem;

    @include tablet {
      padding: 0;
    }
  }

  &__social-icon {
    padding-right: 1.6em;
  }

  &__email a {
    color: white;
  }

  &__column {
    // padding-bottom: 2.4rem;
    padding: 0 5.6rem 3.2rem 0;
    @include tablet {
      padding: 0 5.6rem 3.2rem 0;
    }

    @include desktop {
      padding-right: 9.6rem;
    }
  }

  &__copyright {
    font-size: 1rem;
    @include tablet {
      font-size: 1.4rem;
    }

    @include desktop {
      padding: 0 0 2rem 0;
      width: 98.6rem;
      margin: 0 auto;
    }
  }

  &__logo {
    height: 2rem;
    box-sizing: content-box;

    &--mobile-nodisplay {
      display: none;
      @include tablet {
        display: inline-block;
      }
    }

    &--mobile-display {
      padding-top: 2rem;
      @include tablet {
        display: none;
      }
    }

    @include tablet {
      padding-top: 1.6rem;
    }
  }

  &__heading {
    @include tablet {
      @include flex($justify: space-between);
      padding: 2rem 0.1rem 2rem 0;
    }

    @include desktop {
      padding: 0 0 2rem 0;
      width: 98.6rem;
      margin: 0 auto;
    }
  }

  &__subheading {
    @include tablet {
      @include flex($justify: flex-start);
    }
  }

  &__contact {
    @include tablet {
      @include flex($justify: flex-start);
      margin-right: -8rem;
    }

    @include desktop {
      padding: 0 0 2rem 0;
      width: 98.6rem;
      margin: 0 auto;
    }
  }

  &__name {
    font-weight: 800;

    @include tablet {
      padding-right: 0.8rem;
    }
  }
}
