@use "./partials/variables" as *;
@use "./partials/fonts" as *;
@use "./partials/mixins" as *;
@use "./partials/global";

.hero {
  height: 50vh;
  background-image: url(../../assets/images/hero-bio.jpg);
  background-size: cover;
  background-position: center;
  z-index: -1;

  &__header {
    padding: 20vh 5vw;
    color: $alabaster;
    font-weight: 400;
  }

  &__overlay {
    padding: 0;
    margin: 0;
    background-color: rgba(32, 32, 32, 0.5);
    height: 50vh;
    z-index: 2;
  }

  @include tablet {
    height: 60vh;

    &__header {
      padding: 25vh 5vw;
    }

    &__overlay {
      height: 60vh;
    }
  }

  @include desktop {
    margin: 0;

    &__header {
      width: 98.6rem;
      margin: 0 auto;
      padding: 25vh 0;
    }
  }
}

.about {
  &__header {
    padding-top: 0.8rem;
  }

  &__header,
  &__subheader,
  &__paragraph {
    padding-bottom: 1.6rem;
  }

  &__caption,
  &__speaker {
    font-family: "Avenir Demi";
    padding-bottom: 0.8rem;
  }

  &__subheader {
    padding-top: 1.6rem;
    font-family: "Avenir Regular";
  }

  &__image {
    width: 100%;
    padding-bottom: 2.4rem;
  }

  @include tablet {
    &__header {
      padding: 2.4rem 0;
    }

    &__caption {
      line-height: 3.6rem;
      font-size: 2rem;
      padding-bottom: 1.6rem;
    }

    &__speaker {
      font-size: 1.6rem;
    }

    &__subheader {
      padding-top: 4rem;
      font-family: "Avenir Demi";
      color: $dark-black;
    }

    &__bio {
      @include flex;
    }

    &__paragraph {
      &--left {
        padding-right: 3.6%;
      }

      padding-bottom: 0;
    }

    &__bio {
      padding-bottom: 4rem;
    }

    &__image,
    &__caption,
    &__speaker,
    &__subheader,
    &__bio {
      margin: 0 10%;
      width: 80%;
    }
  }

  @include desktop {
    padding: 0;
    margin: 0;

    &__header {
      width: 98.6rem;
      margin: 0 auto;
      padding: 0;
      padding-bottom: 3.6rem;
    }

    &__image {
      display: block;
    }

    &__image,
    &__caption,
    &__speaker,
    &__subheader,
    &__bio {
      width: 80rem;
      margin: 0 auto;
    }

    &__caption {
      padding: 0 20rem 2rem 0;
    }

    &__bio {
      padding-bottom: 0;
    }
  }
}

.gallery {
  background-color: $alabaster;

  &__row {
    padding: 0;
    margin: 0;
  }

  &__photo {
    width: 100%;
    padding-top: 0.8rem;
    margin: 0 auto;
    filter: grayscale(100%);
    &:hover {
      filter: grayscale(0%);
    }
  }

  @include tablet {
    padding: 0;
    margin: 0;

    &__photos {
      @include flex($direction: column);
      padding-top: 1.6rem;
    }

    &__row {
      @include flex;
      margin: 0 -1.2rem;
    }

    &__photo {
      width: 33%;
      margin: 0;
      padding: 0.8rem;
    }
  }

  @include desktop {
    padding: 0;
    margin: 0;

    &__header,
    &__photos {
      width: 98.6rem;
      margin: 0 auto;
    }

    &__photos {
      margin-bottom: -2rem;
    }
  }
}

.about,
.gallery {
  padding: 5% 5% 2%;

  @include tablet {
    padding: 3% 5% 3%;
  }
}
