@use "./partials/variables" as *;
@use "./partials/fonts" as *;
@use "./partials/mixins" as *;
@use "./partials/global";

.hero {
  min-height: 30rem;
  max-height: 40rem;
  background-image: url(../../assets/images/hero-bio.jpg);
  background-size: cover;
  background-position: center;
  z-index: -1;

  @include tablet {
    min-height: 50rem;
    max-height: 60rem;
  }

  @include desktop {
    min-height: 60rem;
    max-height: 80rem;
  }

  &__overlay {
    padding: 0;
    margin: 0;
    background-color: rgba(32, 32, 32, 0.5);
    z-index: 2;
    min-height: 30rem;
    max-height: 40rem;

    @include tablet {
      min-height: 50rem;
      max-height: 60rem;
    }

    @include desktop {
      min-height: 60rem;
      max-height: 80rem;
    }
  }

  &__header {
    padding: 12rem 2rem;
    color: $alabaster;
    font-weight: 400;

    @include tablet {
      padding: 20rem 4rem;
    }

    @include desktop {
      width: 98.6rem;
      margin: 0 auto;
      padding: 30rem 0;
    }
  }
}

.about {
  padding: 5% 5% 2%;

  @include tablet {
    padding: 3% 5% 3%;
  }

  @include desktop {
    padding: 4.8rem 0;
    margin: 0;
  }

  &__header {
    padding-top: 0.8rem;

    @include tablet {
      padding: 2.4rem 0;
    }

    @include desktop {
      width: 98.6rem;
      margin: 0.8rem auto;
      padding: 0;
      padding-bottom: 4rem;
    }
  }

  &__header,
  &__subheader,
  &__paragraph {
    padding-bottom: 1.6rem;
  }

  &__caption,
  &__speaker {
    font-family: "Avenir Demi";
    padding-bottom: 0.8rem;
  }

  &__caption {
    @include tablet {
      line-height: 3.6rem;
      font-size: 2rem;
      padding-bottom: 1.6rem;
    }

    @include desktop {
      padding: 0 20rem 2rem 0;
    }
  }

  &__speaker {
    @include tablet {
      font-size: 1.6rem;
    }
  }

  &__subheader {
    padding-top: 1.6rem;
    font-family: "Avenir Regular";

    @include tablet {
      padding-top: 4rem;
      font-family: "Avenir Demi";
      color: $dark-black;
    }
  }

  &__image {
    width: 100%;
    padding-bottom: 2.4rem;

    @include desktop {
      display: block;
    }
  }

  &__bio {
    @include tablet {
      @include flex;
      padding-bottom: 4rem;
    }

    @include desktop {
      padding-bottom: 0;
    }
  }

  &__paragraph {
    @include tablet {
      &--left {
        padding-right: 3.6%;
      }

      padding-bottom: 0;
    }
  }

  &__image,
  &__caption,
  &__speaker,
  &__subheader,
  &__bio {
    @include tablet {
      margin: 0 10%;
      width: 80%;
    }

    @include desktop {
      width: 80rem;
      margin: 0 auto;
    }
  }
}

.gallery {
  background-color: $alabaster;
  padding: 5% 5% 2%;

  @include tablet {
    padding: 0;
    margin: 0;
    padding: 3% 5% 3%;
  }

  @include desktop {
    padding: 4rem 0;
    margin: 0;
  }

  &__row {
    padding: 0;
    margin: 0;

    @include tablet {
      @include flex;
      margin: 0 -1.2rem;
    }
  }

  &__photo {
    width: 100%;
    padding-top: 0.8rem;
    margin: 0 auto;
    filter: grayscale(100%);
    &:hover {
      filter: grayscale(0%);
    }

    @include tablet {
      width: 33%;
      margin: 0;
      padding: 0.8rem;
    }
  }

  &__photos {
    @include tablet {
      @include flex($direction: column);
      padding-top: 1.6rem;
    }

    @include desktop {
      width: 98.6rem;
      margin: 0 auto;
      margin-bottom: -2rem;
    }
  }

  &__header {
    @include desktop {
      width: 98.6rem;
      margin: 0.8rem auto;
    }
  }
}
