@use "./partials/variables" as *;
@use "./partials/fonts" as *;
@use "./partials/mixins" as *;
@use "./partials/global";

.shows {
  margin-bottom: 2rem;

  @include desktop {
    padding: 4rem 0;
    width: 98.6rem;
    margin: 0 auto;
  }

  &__header {
    margin: 2rem 1.6rem 0.8rem;

    @include tablet {
      margin: 0;
      padding: 4rem 5% 3.2rem;
    }

    @include desktop {
      width: 98.6rem;
      margin: 0 auto;
      padding: 0;
    }
  }

  &__labels {
    display: none;

    @include tablet {
      @include flex($justify: flex-start);
      width: 69.2rem;
      margin: 0 auto;
    }

    @include desktop {
      max-width: 75rem;
      margin-left: auto;
      margin-right: 0;
    }
  }

  &__label {
    color: $silver;
    font-size: 1rem;
    font-weight: 800;

    &--mobile {
      font-size: 0.8rem;
    }

    @include tablet {
      width: 16rem;
      margin-right: 2rem;

      &--mobile {
        display: none;
      }
    }
  }

  &__event-block,
  &__event-data {
    @include flex($direction: column, $align: flex-start);
  }

  &__event-block {
    margin: 0.8rem 0;
    padding-bottom: 1.6rem;
    border-bottom: 0.2rem solid $mercury;

    @include tablet {
      @include flex($direction: column);
      width: 72rem;
      margin: 0 auto;

      &:hover {
        background-color: $alabaster;
      }

      &--selected {
        background-color: $mercury;
      }
    }

    @include desktop {
      margin-left: auto;
      margin-right: 0;
    }
  }

  &__event-data {
    margin: 0 1.6rem;
    margin-bottom: 0.8rem;

    @include tablet {
      @include flex($justify: flex-start);
      padding: 1.6rem 0;
      width: 69.2rem;
      padding: 0;
      margin: 1.8rem auto 0;
    }
  }

  &__info {
    &--date {
      font-weight: 800;
    }
  }

  &__data-block {
    width: 18rem;
    padding: 0.8rem 0;
    padding-right: 2rem;
  }

  &__button {
    &--nomobile {
      display: none;
    }

    &--mobile {
      width: 90%;
      margin: 0 auto;
    }

    @include tablet {
      &--mobile {
        display: none;
      }

      &--nomobile {
        display: inline-block;
        padding: 1rem 2.4rem 0.8rem;
      }
    }
  }
}
